<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Editor.Properties.Settings>
            <setting name="Common_CurrentFileChanged_Confirm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Common_CurrentFileChanged_AutoReload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Script_KeywordColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Text_CommentColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="Text_TextColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Text_BackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Text_Font" serializeAs="String">
                <value>ＭＳ ゴシック, 9.75pt</value>
            </setting>
            <setting name="Script_NameColor1" serializeAs="String">
                <value>DarkCyan</value>
            </setting>
            <setting name="Script_NameColor2" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="Map_NonActiveLayerTransparency" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="_Upgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Form_MainSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="Form_MainWndState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Form_MainLocation" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="Form_2PaneImgIndices" serializeAs="String">
                <value />
            </setting>
            <setting name="Script_Font" serializeAs="String">
                <value>Consolas, 9.75pt</value>
            </setting>
            <setting name="Script_StringColor" serializeAs="String">
                <value>163, 21, 21</value>
            </setting>
            <setting name="Script_NumberColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Text_JumpChar" serializeAs="String">
                <value>//</value>
            </setting>
            <setting name="Text_UnderBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Text_UnderBarColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="Last_TextPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Last_MapPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Last_Chat" serializeAs="String">
                <value />
            </setting>
            <setting name="Form_ScheduleSortType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Last_ProjectPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Common_CurrentDBChanged_EditContinue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DB_VisibleFixedID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DB_UnitBackPicture" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_UnitScale" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DB_EffectTargetPicture" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_EffectScale" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Last_MapLayer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Map_Scale" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Last_DB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Last_MainTabLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Last_MainTabRight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Tkool_TileVer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Tkool_Interpolation" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Map_VisibleGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Map_VisibleLayerIndexList" serializeAs="String">
                <value>0;1;2;3;4</value>
            </setting>
            <setting name="Map_SQEasyMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Last_BattleTestPTData" serializeAs="String">
                <value />
            </setting>
            <setting name="Last_MapTestValueData" serializeAs="String">
                <value />
            </setting>
            <setting name="Last_SQTestParameter" serializeAs="String">
                <value />
            </setting>
            <setting name="Last_EVTemplate_DoorSE" serializeAs="String">
                <value />
            </setting>
            <setting name="Last_EVTemplate_TreasureSE" serializeAs="String">
                <value />
            </setting>
            <setting name="Map_WaitForTest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Script_FixedIDHexMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Last_DBType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Common_NoConfirmSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Script_AutoAnalyze" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Last_MapRandomFloorTile" serializeAs="String">
                <value />
            </setting>
            <setting name="Last_MapRandomCeilTile" serializeAs="String">
                <value />
            </setting>
            <setting name="Last_MapRandomWallTile" serializeAs="String">
                <value />
            </setting>
            <setting name="Last_TextSearchRange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Last_TextSearchRegux" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Last_TextSearchCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tkool_WalkVer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Help_WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Help_WindowSize" serializeAs="String">
                <value>800, 500</value>
            </setting>
            <setting name="Help_WindowLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
        </Editor.Properties.Settings>
    </userSettings>
</configuration>
