@charset "utf-8";
/* CSS Document */

html{
  height: 100%;
}
body{
  font-family:"ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", "Meiryo", sans-serif;
  font-size:14px;
  letter-spacing: 0.02em;
  color:#2D2D2D;
  height: 100%;
  min-height: 100%;
}
a, a:visited{
  color:#56575C;
  text-decoration: underline;
}
a:hover{
  text-decoration: none;
}
#container{
  width: 100%;
  min-height: 100%;
  margin-top: 70px;
  /*overflow: hidden;*/
}
#header{
  width:100%;
  background: #2B2C31;
  position: fixed;
  z-index: 100;
  top:0;
}
#header h1{
  color:#ffffff;
  line-height: 70px;
  margin-left: 20px;
  font-size:16px;
  letter-spacing: 0.1em;
}
#header h1 span{
  font-weight:bold;
  font-family: Verdana, Geneva, "sans-serif";
}
#header a, #header a:visited{
  text-decoration: none;
}

/********************/
/*    main     */
/********************/
#mainContainer{
  float:right;
  /*width: 73%;*/
  -webkit-width: calc(100% - 300px);
  -ms-width: calc(100% - 300px);
  width: calc(100% - 300px);
  min-height: 99%;
  box-sizing: border-box;
  padding: 20px;
}
#breadcrumb{
  color: #8E8E8E;
  margin-bottom: 30px;
}
#mainContainer h2{
  font-size:33px;
  color:#2B2C31;
  font-weight: bold;
  margin-bottom: 30px;
}
#mainContainer h3{
  font-size:20px;
  color:#2B2C31;
  font-weight: bold;
  margin: -100px 0 15px 0;
  padding-top:100px;
}
#mainContainer h4{
  font-weight:bold;
  margin:20px 0 0 -5px;
}
#mainContainer h4:before{
  content:"＊";
  margin-right: 2px;
}
#mainContainer .text{
  line-height: 1.7;
  margin-bottom: 40px;
}
#mainContainer .text p{
  margin-bottom: 10px;
}
#mainContainer hr{
  border-width: 1px 0 0 0;
  border-color: #ccc;
  border-style: solid;
  box-shadow: none;
  margin-bottom: 40px;
}

/********************/
/*    menu     */
/********************/
#menuContainer{
  float:left;
  position: fixed;
  /*width: 27%;*/
  width: 300px;
  background-color: #f8f8f8;
  min-height: 100%;
  height: 100%;
  box-sizing: border-box;
  /*padding: 20px 20px 32767px 20px;*/
  /*margin-bottom: -32767px;*/
  overflow-y: scroll;
  padding: 20px;
}
#menuContainer a,
#menuContainer a:link,
#menuContainer a:visited{
  text-decoration: none;
  color:#2B2C31;
}
#menuContainer a:hover{
  text-decoration: underline;
}
#menuContent{
  padding-bottom: 60px
}
#menuContent .section{
  margin-bottom: 7px;
}
#menuContent .title{
  margin-left: 23px;
  line-height: 1.5;
}
#menuContent .content{
  margin: 7px 0 20px 20px;
  display: none;
}
#menuContent .content.active{
  display: block;
}
#menuContent .content ul{
  margin-bottom: 7px;
}
#menuContent .content li{
  list-style: none;
  line-height: 1.5;
  margin: 5px 0 0 15px;
}
#menuContent .content li::before{
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0px 6px 0 -14px;
  background-color: #31B8DB;
  border-radius: 100%;
}
#menuContent .arrow{
  display: inline-block;
  position: relative;
  margin-right: 5px;
  width:13px;
  height: 13px;
  margin-left: -23px;
  background: #31B8DB;
}
#menuContent .arrow::before{
  display: block;
  content: "";
  position: absolute;
  width: 1px;
  height: 9px;
  background: #ffffff;
  top:2px;
  left:6px;
}
#menuContent .arrow::after{
  display: block;
  content: "";
  position: absolute;
  width: 9px;
  height: 1px;
  background: #ffffff;
  top:6px;
  left:2px;
}
#menuContent .active > .arrow::before{
  width: 0px;
  height: 0px;
}

#menuContent .non-arrow{
  display: inline-block;
  position: relative;
  margin-right: 5px;
  width:13px;
  height: 13px;
  margin-left: -23px;
  background: #31B8DB;
}

/********************/
/*    code     */
/********************/
pre {
  font-family: "Courier New", Consolas, monospace;
  font-size: 1em;
  color: #111111;
  background: #f5f5f5;
  border: 1px solid #bbb;
  line-height: 130%;
  margin: 20px 30px 20px 30px;
  padding: 0 20px;
  overflow-x: auto;
  overflow-y: auto;
  tab-size: 4;
}
strong.keyword {
  font-weight: normal;
  color: #0000ff;
}
strong.comment {
  font-weight: normal;
  color: #999999;
}


/********************/
/*    extend    */
/********************/
table {
  border-collapse: collapse;
  border-top: 1px solid #ccc;
  border-left: 3px solid #369;
  margin: 10px;
}
th {
  border: 1px solid #ccc;
  padding: 10px;
  vertical-align: middle;
  font-weight: bold;
}
tr.head {
  font-weight: bold;
}
td {
  border: 1px solid #ccc;
  padding: 10px;
  vertical-align: middle;
}
ul.circle{
  list-style-type: circle;
  margin-left: 30px;
}
ul.disc{
  list-style-type: disc;
  margin-left: 30px;
}
